@import "./nav.css";
@import "./mainu.css";
@import "./footer.css";

* {
    margin: 0;
    box-sizing: border-box;
    font-family: Heebo;
    direction: rtl;
}

body {
    background: #a4e7ef;
    position: relative;
    text-align: center;
    margin: 0 auto;
}

main {
    width: 1000px;
    margin: 0 auto;
}

footer {
    width: 1000px;
    background-color: #18617b;
    height: 200px;
    border: 2px solid black;
    margin: 0 auto;
    border-collapse: collapse;
    margin-bottom: 3px;
}

.container {
    width: 1000px;
    position: relative;
}

/*fonts*/

@font-face {
    font-family: Heebo;
    src: url('../assets/fonts/Heebo-Regular.ttf');
}