nav {
    margin-top: -30px;
    height: 70px;
    width: 100%;
    background: #18617b;
    box-shadow: #90bfb8 0px 6px;


}

.main-nav {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    background: #18617b;
    margin: 0 auto;
}

.nav-list {
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.n-list {
    margin-left: 35px;
    color: white;
    letter-spacing: 3px;
}

.tel-aviv-logo {
    display: block;
    position: relative;
    top: -2px;
    z-index: 5;
    width: 100vw;
}

.main-logo {
    position: absolute;
    height: 100px;
    top: 11px;
    right: 23px;
}